{{> header}}

{{#each cartoons}}
    {{#if @first}} <!-- 1 -->
        <div id="featured-image" style='background-image: url({{photo}})'>
            <div id="featured-content">
                <h1>{{name}}</h1>

                <span >{{this.year}} | {{this.genre}} | </span>
                <span class="{{this.star1}}"></span>
                <span class="{{star2}}"></span>
                <span class="{{star3}}"></span>
                <span class="{{star4}}"></span>
                <span class="{{star5}}"></span>

                <p>{{synopsis}}</p>

                <div id="featured-buttons">
                    {{!-- <span id="add-list"><i class="fa fa-plus fa-2x"></i></span> --}}
                    
                    <a href="/cartoon-info">
                        <button class="medium-button">MORE INFO</button>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
{{/each}}
<script>
    function getSelectValue()
    {
        var selectedValue = document.getElementById("list").value;
        console.log(selectedValue);
    }
</script>
