<header>
    <div class="header-left">
        <a href="/"><img src="/images/Pics/TLLogo.png" class="TLLogo" alt="ToonList"/></a>
        <a href="/all-cartoons" id="all-cartoons">All Cartoons</a>
    </div>
    
</header> 
<h2> Edit Profile </h2>


<div class="login-box">
    <form class="email-signup" id="email-signup" method="POST" >
        <div class="form-top">
            <image id="profileImage" src="{{pfp}}"/>
            {{!-- <input id="imageUpload" type="file"
                name="profile_photo" placeholder="Photo" optional="" accept="image/*"> --}}
            <div class="u-form-group" id="grid-2">
                <input id="email" name="email"type="email" name="settings-email" placeholder="{{email}}" optional=""/>
            </div>
            <div class="u-form-group" id="grid-3">
                <input id="username" name="username" type="username" name="settings-user" placeholder="{{username}}" optional=""/>
            </div>
        </div>

        <div class="u-form-group">
            <input id = "pfp" name="pfp" type="text" name="settings-pic" id="imgurl" placeholder="{{pfp}}" optional=""/>
        </div>

        <div class="u-form-group">
            <textarea class="txtarea" name="settings-bio" cols="60" rows="7" placeholder="Bio" style="margin-top: 5px; resize:none;"></textarea> 
        </div>

        <div class="u-form-group">
            <input id = "password" name="password" type="password" placeholder="{{password}}" optional="" minlength="7"/>
        </div>

        <div class="u-form-group" id="buttonss">
            <input formaction="/settings/delete/{{username}}" class="delete-buttn" type="submit" value="Delete Account">
            <input id="submit"class="submit-buttn1" type="submit" value="Submit">
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $("#imgurl").keyup(function(){
            var inputVal = $(this).val();
            $("#profileImage").attr("src", inputVal);
        });
    }); 

</script>

{{!-- <script>
    function picPreview(uploader) {
        if ( uploader.files && uploader.files[0] ){
            $('#profileImage').attr('src', 
            window.URL.createObjectURL(uploader.files[0]) );
            }
        }

        $("#imageUpload").change(function(){
            picPreview( this );
        });

        $("#profileImage").click(function(e) {
            $("#imageUpload").click();
    });
</script> --}}
<script src="/js/settings.js"></script>